{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}

{{ imports }}

{{ macros.docblock(event.docs) }}
{{- typeManifest.type }}

{% for nestedStruct in typeManifest.nestedStructs %}
{{ nestedStruct }}
{% endfor %}

{{ discriminatorConstants }}

{% if constantDiscriminators.length > 0 %}
impl {{ event.name | pascalCase }} {
  #[inline(always)]
  pub fn from_bytes(data: &[u8]) -> Result<Self, std::io::Error> {
{% for disc in constantDiscriminators %}
    if {{ disc.condition }} {
      return Err(std::io::Error::new(
        std::io::ErrorKind::InvalidData,
        "{{ disc.message }}",
      ));
    }
{% endfor %}
{% if hiddenPrefixSkip.comment %}
    // {{ hiddenPrefixSkip.comment }}
{% endif %}
    let mut data = {{ hiddenPrefixSkip.expr }};
    Self::deserialize(&mut data)
  }
}
{% endif %}

{% endblock %}
